body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.login-box h2 {
  font-family: monospace;;
  margin-bottom: 20px;
}

.login-box input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
}

.login-box button {
  width: 95%;
  padding: 10px;
  background: #3897f0;
  color: white;
  border: none;
  cursor: pointer;
}

/* POPUP STYLE */
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.popup-content {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 200px auto;
  text-align: center;
  border-radius: 8px;
}
